<div class="menu">
    <nav>
        <p><a href="/manifesto">manifesto</a></p>
        <p><a href="/logout">logout</a></p>
    </nav>
</div>
<header>
    <h4>CALLING FOR A GREATER TRANSPARENCY, SUSTAINIBILITY AND ETHICS IN THE FASHION INDUSTRY</h4>
</header>
<div class="wrapper-manifesto">
    <div class="manifesto">
        <p>As a volunteer of the Fashion Revolution in Berlin, this site is an example of how to reach out to everybody that loves fashion but is frustrated about how the fashion industry has evolved.</p>
        <p><em>Who made my clothes?</em> is a question that asks about where our clothes are produced and especially from whom it is made. This site takes reference to the Fashion Revolution:</p>
        <p><em>We are designers, producers, makers, workers and consumers. We are academics, writers, business leaders, brands, retailers, trade unions and policymakers. We are the industry and the public. We are world citizens. We are a movement and a community. We are you.</em></p>
        <p><em>We love fashion. But we don’t want our clothes to exploit people or destroy our planet. We demand radical, revolutionary change.</em></p>
    </div>
</div>
