<div class="menu">
    <nav>
        <p><a href="/manifesto">manifesto</a></p>
        <p><a href="/logout">logout</a></p>
    </nav>
</div>
<header>
    <h4>CALLING FOR A GREATER TRANSPARENCY, SUSTAINIBILITY AND ETHICS IN THE FASHION INDUSTRY</h4>
</header>
<div class="wrapper">
    <form method="POST">
        <h1>because you believe in making fashion fair</h1>
        <h2>thanks for signing!</h2>
        <img src="{{signature}}">
        <button id="delete">delete your signature</button>
        <br>
        <p class="linkto"><a href="/signers">see all manifesto signers</a></p>
        <p class="linkto"><a href="/edit">change your profile</a></p>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>
